@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.dark {
  font-family: 'Fira Code', monospace;
  font-size: calc(15px + 0.33vw);
  -webkit-font-smoothing: antialiased;
}

.dark >>> ::selection {
  background: wheat;
  color: var(--v-primary-base);
}

.dark >>> h1 {
  position: relative;
  font-size: 2.2em;
  font-weight: 700;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.dark >>> h2 {
  position: relative;
  font-size: 1.7em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.dark >>> h3 {
  position: relative;
  font-size: 1.375em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.dark >>> h4 {
  position: relative;
  font-size: 1.15em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.dark >>> h5 {
  position: relative;
  font-size: 0.95em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.dark >>> h6 {
  position: relative;
  font-size: 0.95em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.dark >>> p {
  text-indent: 2em;
  font-size: 0.95em;
  font-weight: 100;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.dark >>> strong {
  font-weight: 700;
}

.dark >>> ul > li,
.dark >>> ol > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/* 超连接部分 */
.dark >>> p a {
  text-decoration: none;
  color: var(--v-accent-base);
  position: relative;
}

.dark >>> p a:after {
  content: '」';
  color: wheat;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.dark >>> p a:before {
  content: '「';
  color: wheat;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.dark >>> p a:hover:after {
  opacity: 1;
}

.dark >>> p a:hover:before {
  opacity: 1;
}

.dark >>> li > a {
  text-decoration: none;
  color: var(--v-accent-base);
  position: relative;
}

.dark >>> li > a:after {
  content: '」';
  color: wheat;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.dark >>> li > a:before {
  content: '「';
  color: wheat;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.dark >>> li > a:hover:after {
  opacity: 1;
}

.dark >>> li > a:hover:before {
  opacity: 1;
}

.dark >>> p > code {
  font-family: 'Fira Code', monospace;
  color: navajowhite;
}

.dark >>> pre {
  font-family: 'Fira Code', monospace;
  display: block;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.dark >>> pre > code {
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  color: rgb(179, 177, 115);
  border-radius: 0.4em;
}

.dark >>> p > img {
  width: 90%;
  border-radius: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: black 0em 0em 0.8em;
}

.dark >>> .hljs {
  font-size: 0.9em;
  padding: 0.6em 0.2em;
  border-radius: 0.4em;
  position: relative;
}

.dark >>> .hljs ol {
  list-style: decimal;
  margin: 0;
  margin-left: 0.9em;
  padding: 0;
}

.dark >>> pre ol li {
  list-style: decimal-leading-zero;
  padding-left: 0.4em;
}

.dark >>> b.name {
  position: absolute;
  top: 0.3em;
  right: 0.7em;
  z-index: 10;
  color: #999;
  pointer-events: none;
}

.dark >>> blockquote > p {
  text-indent: 0em;
  margin-left: -1em;
  justify-content: center;
  overflow-wrap: break-word;
  text-align: justify;
  margin-left: 1em;
}

.dark >>> blockquote {
  background-color: #33353c;
  font-size: 0.9em;
  padding: 0.3em 0.1em;
  padding-right: 1em;
  position: relative;
  border-radius: 0.3em;
}

.dark >>> blockquote:before {
  content: '';
  background-color: navajowhite;
  width: 0.3em;
  position: absolute;
  top: 0em;
  height: 100%;
  border-radius: 0.3em;
}

.dark >>> .href {
  color: navajowhite;
  text-decoration: none;
  position: absolute;
  left: -1em;
}

.dark >>> s {
  background-color: black;
  color: black;
  text-decoration: none;
  transition: 0.6s;
}

.dark >>> s:hover {
  color: var(--v-accent-base);
  background-color: var(--v-primary-base);
}
